* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contanier {
  max-width: 1280px;
  margin: auto;
}
#header .navbar-nav {
  align-items: center;
}
#header .nav-link {
  position: relative;
}
#header .nav-link:hover {
  color: #dc4f72 !important;
}
#header .nav-link::after {
  content: "";
  width: 0;
  height: 1.5px;
  background-color: #dc4f72;
  position: absolute;
  left: 8px;
  bottom: 0;
  transition: all 0.3s;
  opacity: 0;
}
#header .nav-link:hover::after {
  width: 50%;
  height: 1.5px;
  opacity: 1;
}
.dropdown-item {
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 10px;
  position: relative;
}
.dropdown-item::after {
  position: absolute;
  content: "";
  background-color: #dc4f72;
  width: 0px;
  left: 16.5px;
  height: 2px;
  bottom: 9px;
  transition: all 0.3s;
}
#header .dropdown-item:hover::after {
  width: 20px;
}
#header .dropdown-menu {
  transform: translateX(-50px);
}
.fa-angle-down:before {
  content: "\f107";
}
#header .navbar-nav .dropdown-menu:before {
  content: "";
  width: 14px;
  height: 14px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  display: block;
  border-right: none;
  border-bottom: none;
  transform: translateX(-50%) rotateZ(45deg);
  position: absolute;
  top: -7px;
  left: 49%;
  z-index: 1001;
}
.navbar-brand i,
.navbar-brand span {
  color: #dc4f72;
}
.theme-button {
  transition: 0.3s ease-out;
  display: inline-block;
  line-height: 50px;
  font-weight: 700;
  font-size: 14px;
  margin: 0px;
  padding: 0px 25px;
  text-transform: uppercase;
  color: #dc4f72;
  border-color: #dc4f72;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: #dc4f72;
  border-color: #dc4f72;
}
.caros {
  padding: 15px 20px;
  background-color: rgb(247, 249, 252, 1);
}
.caros-1 a {
  margin-left: 12px;
  font-size: 14px;
  color: #dc4f72;
}

.carousel-indicators {
  flex-wrap: nowrap;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}
.blog-info {
  padding: 30px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.slider {
  margin-top: 30px;
}

.slider-1 {
  background-color: #f7f9fc;
}
.grids5-info {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  width: 98%;
  height: 80%;
}
.grids5-info {
  line-height: 40px;
}
.grids5-info img {
  width: 100%;
  height: 100%;
}
.grids5-info .zoom {
  position: relative;
}
.grids5-info .date {
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  border-bottom: none;
  padding-bottom: 0px;
  background-color: #dc4f72;
  position: absolute;
  top: 0;
  padding: 7px;
  margin-bottom: 0;
  right: 0;
  margin-top: 0 !important;
}
.blog-info {
  padding: 30px;
}
.blog-info h4 {
  color: black;
  font-size: 26px !important;
  line-height: 25px;
  font-weight: 600;
}
.blog-info h4:hover {
  color: #dc4f72;
}
.blog-info .btn-news {
  color: #dc4f72;
  text-decoration: none;
}
.blog-info .btn-news span {
  padding-left: 0px;
  right: -13px;
  top: 8px;
  color: #dc4f72;
}

.carousel-control-prev .carousel-control-prev-icon {
  background-color: #dc4f72;
  font-size: 30px;
  color: #f7f9fc;
  width: 30px;
  transform: translateX(-75px);
  border: 0px solid;
  border-radius: 50%;
}

.carousel-control-next .carousel-control-next-icon {
  background-color: #dc4f72;
  border-radius: 50%;
  width: 30px;
  transform: translateX(57px);
}
.slider .carousel-indicators button {
  width: 0px;
  height: 0px;
}
.tag-label.green {
  background: rgba(0, 128, 0, 0.2);
  color: #008000;
}
.tag-label {
  padding: 5px 16px;
  display: inline-block;
  border-radius: 25px;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 15px;
}
.grids5-info p {
  margin-top: 15px;
  line-height: 25px;
}
label.blue {
  background: rgba(0, 0, 255, 0.2);
  color: #0000ff;
}
label.red {
  background: rgba(238, 97, 120, 0.2);
  color: var(--primary);
}
.slix .col-lg-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}
.slix .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.slix .grids5-info {
  border-radius: 6px;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  display: block;
  height: 100%;
  background: #fff;
  border: 1px solid #eee;
}
.slix .grids5-info a.zoom {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.slix .grids5-info img {
  width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.slix .blog-info {
  background: #fff;
  padding: 30px 20px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.slix .label.tag-label {
  padding: 5px 16px;
  display: inline-block;
  border-radius: 25px;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 15px;
}
.slix .grids5-info h4 a {
  font-size: 22px;
  line-height: 27px;
  color: var(--title-color);
  display: block;
  font-weight: 600;
  text-decoration: none;
}
.slix .grids5-info .btn-news {
  transform: translateX(-12px);
}
.slix .grids5-info:hover {
  transform: translateY(-12px);
}
.slix .grids5-info:hover a.zoom img {
  overflow: hidden;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  transition: 0.3s ease-in-out;
}
